<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="cache-control" content="max-age=120">
    <meta http-equiv="pragma" content="max-age=120">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a site to maintain study materials for ECE Batch 19-23 of Tezpur University.">
    <meta name="keywords" content="ece,ECE,Ece,Tezpur,Tezpur University,tezpur,tezpur university,mathematics,Mathematics,Network,Network Theory,Signals,signals,Signals and System,Environmental Science,electronics,Electronics and Communication Engineering,ECE Tezpur,ECE Tezpur University ">
    <title>Ece 19-23</title>
    <!--AOS-->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--TAILWIND CSS-->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <!--CUSTOM CSS-->
    <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
</head>
<body class="bg-gray-900 main">
  <div class="preloader"></div>
  <section class="text-gray-500 body-font bg-gray-900">
    <div class="container pt-24 pb-20 px-5 mx-auto">
      <div class="flex flex-col text-center w-full mb-20">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white" style="font-weight: 700;">ECE BATCH 19-23</h1>
        <h2 class="text-md text-indigo-500 tracking-widest font-medium title-font mb-1" style="font-weight: 600;">3RD SEMESTER</h2>
        <!-- <p class="lg:w-2/3 mx-auto leading-relaxed text-base">All Study materials will be uploaded here</p> -->
      </div>
      <div class="flex md:flex-row flex-wrap md:justify-around">
        {% if subjects %}
          {% for subject in subjects %}
          <div class="xl:w-1/4 lg:w-1/3 md:w-full w-full px-8 py-8 md:my-10 md:mx-10 my-5 border-l-2 md:border-l-0 md:border-b-2 border-indigo-700" data-aos="fade-up" style="box-shadow: 13px 13px 12px #161c27, 
          -13px -13px 12px #1e2633;border-radius: 10px;">
            <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">{{subject.subjectCode}}</h2>
            <h2 class="text-lg sm:text-xl text-white font-medium title-font mb-2">{{subject.subjectName}}</h2>
            <p class="leading-relaxed text-base mb-4">{{subject.subjectDescription}}</p>
            <a class="text-indigo-500 inline-flex items-center" href="{% url 'videopage' course=subject.subjectCode %}">Learn More
              <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4 ml-2" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
              </svg>
            </a>
          </div>
          {% endfor %}
          {% else %}
          <div class="xl:w-1/4 lg:w-1/3 md:w-full px-8 py-6 border-l-2 border-gray-800">
            <h1>There are no subjects</h1>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
  <footer class="text-gray-500 bg-gray-900 body-font">
    <div class="container px-5 py-8 mx-auto flex items-center justify-center sm:flex-row flex-col">
      <a class="flex title-font font-medium items-center md:justify-start justify-center text-white">
        <img src="../static/assets/logo.jpg" class="w-10 h-10 p-2 rounded-full">
        <span class="ml-0 md:ml-3 text-xl">ECE</span>
      </a>
      <p class="text-sm text-gray-600 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">© 2020 ECE —
        <a href="https://www.linkedin.com/in/rittik-dasgupta-a6820117a" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">@hritickdasgupta</a>
        <p class="text-sm text-gray-600 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">
          hrkdasgupta025@gmail.com
        </p>
      </p>
    </div>
  </footer>
  <!--PRELOADER JS SCRIPT-->
  <script>
    document.body.style.position = "fixed";
    window.addEventListener('load', () => {
      let preloader=document.querySelector('.preloader');
      setTimeout( () => {
        preloader.classList.toggle('preloader-finish');
        document.body.style.position = "static";
      },3000);
    });
  </script>
  <!--PRELOADER JS SCRIPT END-->
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
    AOS.init({
      duration: 1200,
      once: true
    })
  </script>
</body>
</html>