<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ece 19-23</title>
        <!--TAILWIND CSS-->
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <!--CUSTOM CSS-->
        <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    </head>
    <body>
        <!--HEADER-->
        <header class="text-gray-500 bg-gray-900 body-font">
            <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                <img src="../static/assets/logo.jpg" class="w-10 h-10 p-2 rounded-full">
                <span class="ml-3 text-xl">ECE 19-23</span>
            </a>
            <nav class="md:ml-auto flex flex-wrap items-center text-base justify-center">
                <a class="mr-5 hover:text-white" href="{% url 'videoadd' %}">Video</a>
                <a class="mr-5 hover:text-white" href="{% url 'pdfadd' %}">Document</a>
                <a class="mr-5 hover:text-white" href="{% url 'liveadd' %}">Live Video</a>
                <a class="mr-5 hover:text-white" href="{% url 'subject' %}">Subject</a>
            </nav>
            <a href="{% url 'index' %}">
                <button class="inline-flex items-center bg-indigo-600 border-0 py-1 px-3 focus:outline-none hover:bg-gray-700 rounded text-base text-white mt-4 md:mt-0">Home
                </button>
            </a>
            </div>
        </header>
      <!--HEADER END-->
        <section class="text-gray-500 bg-gray-900 body-font relative">
            <div class="container px-5 py-24 mx-auto">
              <div class="flex flex-col text-center w-full mb-12">
                <h1 class="sm:text-3xl text-2xl font-medium title-font mb-4 text-white">ADD A LIVE VIDEO</h1>
                <!-- <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify.</p> -->
              </div>
              <div class="lg:w-1/2 md:w-2/3 mx-auto">
                {% if messages %}
                  <ul class="messages py-2">
                    {% for message in messages %}
                    <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                  </ul>
                {% endif %}
                <div class="flex flex-wrap -m-2">
                    <form method="POST" class="flex flex-wrap -m-2">
                        {% csrf_token %}
                        <div class="p-2 w-1/2">
                            <input class="w-full bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Live Video Title" type="text" name="liveTitle">
                        </div>
                        <div class="p-2 w-1/2">
                            <select name="course" id="course" class="w-full bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 text-base px-4 py-2">
                                <option value="None">None</option>
                                {% if subjects %}
                                    {% for subject in subjects %}
                                    <option value="{{subject.subjectCode}}">{{subject.subjectName}}</option>
                                    {% endfor %}
                                {% endif %}
                            </select> 
                        </div>
                        <div class="p-2 w-full">
                            <input class="w-full bg-gray-800 rounded border border-gray-700 text-white focus:outline-none focus:border-indigo-500 text-base px-4 py-2" placeholder="Live Video Link" type="text" name="liveLink">
                        </div>
                        <div class="p-2 w-full">
                            <textarea class="w-full bg-gray-800 rounded border border-gray-700 text-white focus:outline-none h-48 focus:border-indigo-500 text-base px-4 py-2 resize-none block" placeholder="Live Video Description" name="liveDescription"></textarea>
                        </div>
                        <div class="p-2 w-full">
                            <button class="flex mx-auto text-white bg-indigo-500 border-0 py-2 px-8 focus:outline-none hover:bg-indigo-600 rounded text-lg" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
              </div>
            </div>
        </section>
    </body>
</html>
