<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Ece 19-23</title>
        <!--SITE ICON-->
        <link rel="icon" href="../static/assets/logo.jpg">
        <!--AOS-->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <!--TAILWIND CSS-->
        <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
        <!--CUSTOM CSS-->
        <link rel="stylesheet" type="text/css" href="../static/css/layout.css">
    </head>
    <!-- <iframe width="640" height="360" frameborder="0" src="" allowfullscreen ></iframe> -->

    <body class="bg-gray-900">
        <!--HEADER-->
        <header class="text-gray-500 bg-gray-900 body-font sticky top-0 z-50">
            <div class="container mx-auto flex flex-wrap p-5 flex-row items-center justify-between">
                <a class="flex title-font font-medium items-center text-white mb-0">
                    <img src="../static/assets/logo.jpg" class="w-10 h-10 p-2 rounded-full">
                    <span class="ml-0 md:ml-3 text-xl">ECE 19-23</span>
                </a>
                <a href="{% url 'index' %}">
                    <button class="inline-flex items-center border-2 border-indigo-500  py-1 px-3 focus:outline-none hover:bg-gray-800 rounded text-base text-indigo-500 mt-0 md:mt-0">HOME
                    </button>
                </a>
            </div>
        </header>
        <!--HEADER END-->

        <!-- SEARCH BAR START -->
        
        <div id="checkContent" class="p-8 px-10">
            <div class="bg-gray-800 flex items-center rounded-full shadow-xl">
              <input onkeyup="searchFun()" class="rounded-full w-full py-4 px-6 text-white leading-tight focus:outline-none bg-gray-800" id="myInput" type="text" placeholder="Search"> 
              <div class="p-4"></div>
            </div>
        </div>
        <div id="results" class="md:w-200 m-5 p-5 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
            <h3 class=" m-5 p-5 text-2xl font-medium text-center text-white title-font mb-2">
                No search results found
            </h3>
        </div>
        
        <!-- SEARCH BAR END -->

        <section class="text-gray-500 bg-gray-900 body-font overflow-hidden">
            <div class="container px-5 py-24 mx-auto">
                <div class="-my-8">
                    {% for video in videos %}
                        {% if video.sampleId != 100 %}
                        <div class="display py-8 flex flex-wrap md:flex-no-wrap border-b-2 border-gray-800 justify-center flex-row">
                            <div class="md:w-200 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                                <span class="tracking-widest font-medium title-font text-white">
                                    <iframe width="300" height="180" frameborder="0" src={{video.liveLink}} allowfullscreen ></iframe>
                                </span>
                                <span class="mt-1 text-gray-600 text-sm">{{video.dateTime}}</span>
                            </div>
                            <div class="md:flex-grow md:px-20 px-5">
                                <h2 class="text-2xl font-medium text-white title-font mb-2">{{video.liveTitle}}</h2>
                                <p class="leading-relaxed">{{video.liveDescription}}</p>
                            </div>
                        </div>
                        {% else %}
                            <div class="md:w-200 md:mb-0 mb-6 flex-shrink-0 flex flex-col">
                                <h3 class="text-2xl font-medium text-center text-gray title-font mb-2">
                                    No content yet
                                </h3>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </section>
        <!-- <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        <script>
            AOS.init();
            AOS.init({
                duration: 1200,
                once: true
            })
        </script> -->
        <!-- SEARCH BAR JS SCRIPT START -->
        <script>
            let checkContent = document.getElementById("checkContent");
            let checkDisplay = document.getElementsByClassName("display");
            let val = checkDisplay[0];
            if(val === undefined) {
                checkContent.style.display = 'none';
            }
            let results = document.getElementById("results");
            results.style.display = 'none';
            const searchFun = () => {
            let filter = document.getElementById('myInput').value.toUpperCase();
            let display = document.getElementsByClassName("display");
            let x = 0;
            for(let i=0; i< display.length; i++) {
                let value = display[i].innerText;
                if(value) {
                    if(value.toUpperCase().indexOf(filter) > -1) {
                        display[i].style.display = "";
                        x = 1;
                    }
                    else {
                        display[i].style.display = "none";     
                    }
                } else {
                    results.style.display = 'none';
                } 
                 
            }
            if(x!==1){
                results.style.display = '';
            } else {
                results.style.display = 'none';
            }
        };      
        </script>
        <!-- SEARCH BAR JS SCRIPT END -->
    </body>
</html>